{% load inlinecss %}
{% inlinecss "css/style.css" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="main">
    <tr class="header">
      <td class="logo-block">
        <div class="logo">
          <img src="../assets/img/Logo-Icon.png" alt="">
          BlanBall
        </div>
        <div class="socials">
          <a href="#">
            <img src="../assets/img/facebook-icon.png" alt="">
          </a>
          <a href="#">
            <img src="../assets/img/instagram-icon.png" alt="">
          </a>
          <a href="#">
            <img src="../assets/img/linkedin-icon.png" alt="">
          </a>
        </div>
      </td>
    </tr>
    <tr class="empty_line_52"></tr>
    <tr class="body">
      <td>
        <div class="body_wrapper">
          <div class="body_title">
            Ви запросили підтвердження своєї електронної адреси у BlanBall?
          </div>
          <div class="body_text">
            Скопіюйте або запам’ятайте наведений нижче код-підтвердження 
            та введіть його у відповідне поле застосунку <span>BlanBall</span>
          </div>
          <div class="bottom_line">
            Якщо ви не надсилали запит, <span>просто проігноруйте це повідомлення.</span>
          </div>
        </div>
      </td>
    </tr>
    <tr class="footer">
      <td>
        <div class="main_text">
          Цей електронний лист надіслано на <a href="#" class="email">gita@email.com</a>. 
          Якщо ви не бажаєте отримувати електронні листи такого типу, 
          чи хочете ви, щоб ваш бренд більше не отримував листи? <a href="#">Відписатися</a>.
        </div>
        <div class="address">
          915 Wilshire BLVD #1600, Львів, CA 90017-6410, Україна
        </div>
        <div class="copyright">
          © 2022 BlanBall
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
{% endinlinecss %}